<!-- JavaScript Libraries -->
<script src="{{"/assets/vendor/jquery/jquery.min.js" | relative_url }}"></script>
<script src="{{"/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" | relative_url }}"></script>
<script src="{{"/assets/lib/easing/easing.min.js" | relative_url }}"></script>
<script src="{{"/assets/lib/superfish/hoverIntent.js" | relative_url }}"></script>
<script src="{{"/assets/lib/superfish/superfish.min.js" | relative_url }}"></script>
<script src="{{"/assets/lib/wow/wow.min.js" | relative_url }}"></script>
<script src="{{"/assets/lib/waypoints/waypoints.min.js" | relative_url }}"></script>
<script src="{{"/assets/lib/counterup/counterup.min.js" | relative_url }}"></script>
<script src="{{"/assets/lib/owlcarousel/owl.carousel.min.js" | relative_url }}"></script>
<script src="{{"/assets/lib/isotope/isotope.pkgd.min.js" | relative_url }}"></script>
<script src="{{"/assets/lib/lightbox/js/lightbox.min.js" | relative_url }}"></script>
<script src="{{"/assets/lib/touchSwipe/jquery.touchSwipe.min.js" | relative_url }}"></script>

<script src="{{"/assets/scripts.js" | relative_url }}"></script>