<!-- JavaScript Libraries -->
<script src="{{site.baseurl}}/assets/vendor/jquery/jquery.min.js"></script>
<script src="{{site.baseurl}}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="{{site.baseurl}}/assets/lib/easing/easing.min.js"></script>
<script src="{{site.baseurl}}/assets/lib/superfish/hoverIntent.js"></script>
<script src="{{site.baseurl}}/assets/lib/superfish/superfish.min.js"></script>
<script src="{{site.baseurl}}/assets/lib/wow/wow.min.js"></script>
<script src="{{site.baseurl}}/assets/lib/waypoints/waypoints.min.js"></script>



<script src="{{site.baseurl}}/assets/js/main.js"></script>